<ion-header>
  <ion-toolbar class="top-bar" color="purplegradient">
    <ion-buttons slot="primary">
      <ion-button class="right ion-no-padding">
        <ion-avatar class="avatar">
          <img [src]="imageSrc">
        </ion-avatar>
      </ion-button>
    </ion-buttons>
    <ion-title class="title">LEMCO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs *ngIf="(utente$ | async) as utente">
    <!-- Tabs AMMINISTRATORE-->
    <ion-tab-bar class="bottom-bar" slot="bottom">
      <ion-tab-button tab="account">
        <ion-icon name="person"></ion-icon>
        <ion-label>{{'Account'}}</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="gestione-dipendenti">
        <ion-icon name="people"></ion-icon>
        <ion-label>{{'Gestione dipendenti'}}</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="gestione-corsi">
        <ion-icon name="play"></ion-icon>
        <ion-label>{{'Gestione corsi' }}</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="statistiche-personali">
        <ion-icon name="stats"></ion-icon>
        <ion-label>{{'Statistiche' }}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>