.top-bar{
    border-radius: 0px 0px 16px 16px;
    box-shadow: 0px 4px 16px rgba(83, 92, 104, 0.2);
}

.title{
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.left{
    margin-left: 16px;
}

.right{
    margin-right: 16px;
}

.notification{
    color: white;
}

.avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.bottom-bar{
    box-shadow: 0px 0px 12px rgba(83, 92, 104, 0.2);
    //border-radius: 24px 24px 0px 0px;
    border: none;
}
