<ion-header padding class="header">
  <div class="titolo-pagina">Corso {{ myId }}</div>
</ion-header>

<ion-content>
  <!-- Custom Refresher Content -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Scorri per aggiornare" refreshingSpinner="circles"
      refreshingText="Aggiorno...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list padding lines="none">
    <div *ngFor="let blocco of blocchi$ | async">

      <!--********* CICLO LEZIONI **********-->
      <ng-container *ngFor="let lezione of lezioni$ | async">
        <ng-container *ngIf="(lezione.id_lessons_block == blocco.id_lessons_block)">
          <ion-item-sliding class="lesson ion-margin-bottom" #sliding [routerLink]="['lezione', lezione.id]"
            [routerDirection]="'forward'" detail="true">
            <ion-item>
              <ion-label class="lesson-container">
                <div class="info-container">
                  <ion-text class="lesson-title">{{lezione.title}}</ion-text>
                  <div class="status-container">
                    <div class="status">Completato</div>
                    <div class="time">3:45 minuti</div>
                  </div>
                </div>
              </ion-label>
            </ion-item>
          </ion-item-sliding>
        </ng-container>
      </ng-container>

      <!--********* CICLO QUESTIONARI **********-->
      <ng-container *ngFor="let quest of questionari$ | async">
        <ng-container *ngIf="(quest.id_lessons_block == blocco.id_lessons_block)">
          <ion-item-sliding class="lesson ion-margin-bottom" #sliding
            [routerLink]="isCompletedQuestionnaire(quest.id) ? [] : ['questionario', quest.id]"
            [routerDirection]="'forward'" detail="true">
            <ion-item>
              <ion-label class="lesson-container">
                <div class="info-container">
                  <ion-text class="lesson-title">{{quest.title}}</ion-text>
                  <div class="status-container">
                    <div class="status">
                      {{isCompletedQuestionnaire(quest.id) ? 'Completato' : 'Devi rispondere ancora a ' + array[quest.id].domande.length + ' domande.'}}
                    </div>
                  </div>
                </div>
                <div class="complete-container">
                  <ion-text>{{isCompletedQuestionnaire(quest.id) ? '100%' : '=('}}</ion-text>
                </div>
              </ion-label>
            </ion-item>
          </ion-item-sliding>
        </ng-container>
      </ng-container>

    </div>
  </ion-list>

</ion-content>