.titolo-corso{
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
}

.lesson{
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(83, 92, 104, 0.2);
    border-radius: 16px;
}

.lesson-container{

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.info-container{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.status-container{
    display: flex;
    justify-content: space-between;
}

.complete-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid #F0932B;
}

.lesson-title{
    font-weight: 300;
    font-size: 18px;
}

.lesson-descr{
    font-weight: 300;
    font-size: 12px;
}

.status{
    font-weight: 300;
    font-size: 10px;
}

.time{
    font-weight: 300;
    font-size: 10px;
}