// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #4834d4;
  --ion-color-primary-rgb: 72,52,212;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #3f2ebb;
  --ion-color-primary-tint: #5a48d8;

  --ion-color-secondary: #686de0;
  --ion-color-secondary-rgb: 104,109,224;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #5c60c5;
  --ion-color-secondary-tint: #777ce3;

  --ion-color-tertiary: #f9ca24;
  --ion-color-tertiary-rgb: 249,202,36;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #dbb220;
  --ion-color-tertiary-tint: #facf3a;

  --ion-color-success: #6ab04c;
  --ion-color-success-rgb: 106,176,76;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #5d9b43;
  --ion-color-success-tint: #79b85e;

  --ion-color-warning: #f9ca24;
  --ion-color-warning-rgb: 249,202,36;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #dbb220;
  --ion-color-warning-tint: #facf3a;

  --ion-color-danger: #eb4d4b;
  --ion-color-danger-rgb: 235,77,75;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #cf4442;
  --ion-color-danger-tint: #ed5f5d;

  --ion-color-dark: #212121;
  --ion-color-dark-rgb: 33,33,33;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1d1d1d;
  --ion-color-dark-tint: #373737;

  --ion-color-medium: #535c68;
  --ion-color-medium-rgb: 83,92,104;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #49515c;
  --ion-color-medium-tint: #646c77;

  --ion-color-light: #95afc0;
  --ion-color-light-rgb: 149,175,192;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #839aa9;
  --ion-color-light-tint: #a0b7c6;

  // Custom color, purplegradient
  --ion-color-purplegradient: linear-gradient(to right,#686DE0, #4834D4);
  --ion-color-purplegradient-rgb: linear-gradient(to right, rgb(104,109,224), rgb(72,52,212));
  --ion-color-purplegradient-contrast: #ffffff;
  --ion-color-purplegradient-contrast-rgb: 255,255,255;
  --ion-color-purplegradient-shade: linear-gradient(to right,#5c60c5, #3f2ebb);
  --ion-color-purplegradient-tint: linear-gradient(to right,#777ce3, #5a48d8);
  
  // Custom color, buttonwhite
  --ion-color-buttonwhite: #fafafa;
  --ion-color-buttonwhite-contrast: #000000;
  --ion-color-buttonwhite-contrast-rgb: 0,0,0;
}

.ion-color-purplegradient{
  --ion-color-base: var(--ion-color-purplegradient);
  --ion-color-base-rgb: var(--ion-color-purplegradient-rgb) !important;
  --ion-color-contrast: var(--ion-color-purplegradient-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-purplegradient-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-purplegradient-shade) !important;
  --ion-color-tint: var(--ion-color-purplegradient-tint) !important;
}

.ion-color-buttonwhite{
  --ion-color-base: var(--ion-color-buttonwhite);
  --ion-color-contrast: var(--ion-color-buttonwhite-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-buttonwhite-contrast-rgb) !important;
}