.titolo-domanda{
    text-align: left;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
}

.risposta-container{

    min-height: 60px;
}

.titolo-risposta{
    //background-color: blue;
    padding: 8px 0px;
}

.radio{
    background-color: #fafafa;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 8px;
}

.full{
    width: 100%;
}

.prossimo{
    width: 100%;
    text-align: center;
}

.button{
    width: 100%;
}