<ion-header padding class="header">

  <div class="titolo-pagina">Corso {{ myId }}</div>

</ion-header>

<ion-content>
  <ion-slides (ionSlideTap)="nextSlide()" pager="true" [options]="slideOpts">

    <ion-slide *ngFor="let domanda of domande$ | async">

      <ion-grid>
        <ion-row padding class="container-domanda ion-margin-bottom">
          <div class="titolo-domanda">{{domanda.text}}</div>
        </ion-row>

        <!--Blocco risposte-->
        <ion-row>

          <ion-list class="full">
            <ion-radio-group>

              <ion-list-header>
                <ion-label>Seleziona la risposta corretta</ion-label>
              </ion-list-header>

              <!--Lista risposte-->
              <ng-container *ngFor="let risposta of risposte$ | async">
                <ng-container *ngIf="(risposta.id_question == domanda.id)">
                  <ion-item class="risposta-container">
                    <div class="titolo-risposta">{{risposta.text}}</div>
                    <ion-radio class="radio" slot="end" [value]="[domanda.id]-[risposta.id]"
                      (ionSelect)="mcqAnswer([domanda.id],[risposta.id])"></ion-radio>
                  </ion-item>
                </ng-container>
              </ng-container>
              <ion-row class="ion-margin-top">
                <ion-text class="prossimo">
                  Scorri per la prossima domanda
                </ion-text>
              </ion-row>
            </ion-radio-group>
          </ion-list>
        </ion-row>

      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid padding>
        <ion-row>
          <ion-text class="ion-text-start ion-margin-bottom">
            Complimenti hai raggiunto la fine del questionario! 🎉
          </ion-text>
          <ion-text class="ion-text-start ion-margin-bottom">
            Se hai risposto a tutte le domande clicca il pulsante in basso per terminare il questionario.
          </ion-text>
          <ion-text class="ion-text-start ion-margin-bottom" color="danger">
            Ti ricordiamo che non puoi ripetere il questionario una seconda volta.
          </ion-text>
        </ion-row>
        <ion-row>
          <ion-button class="button" full>
            Ho finito
          </ion-button>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>

</ion-content>