.ciao{
    font-size: 24px;
    font-weight: 300;
}

.nome{
    font-size: 36px;
}

.corso{
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(83, 92, 104, 0.2);
    border-radius: 16px;
}

.container-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titolo{
    height: 100%;
    font-size: 18px;
}

.percentuale{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid #F0932B;
}
