<!-- I MIEI CORSI -->

<ion-content>
  <ion-grid padding>
    <div class="header-container">
      <ion-row>
        <div class="ciao">Ciao,</div>
      </ion-row>
      <ion-row>
        <div class="nome ion-text-capitalize">{{utente.name_surname}}</div>
      </ion-row>
    </div>
  </ion-grid>

  <!-- Custom Refresher Content -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Scorri per aggiornare" refreshingSpinner="circles"
      refreshingText="Aggiorno...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list padding lines="none">
    <ion-item-sliding class="corso ion-margin-bottom" *ngFor="let corso of corsi$ | async" #sliding
      [routerLink]="[corso.id]" [routerDirection]="'forward'" detail="true">
      <ion-item>
        <ion-label class="container-info">
          <ion-text class="titolo">{{corso.title}}</ion-text>
          <div class="percentuale">
            <ion-text>80%</ion-text>
          </div>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
    <ion-row justify-content-center class="ion-margin-bottom">
      <ion-text>Hai raggiunto la fine della lista 🎉</ion-text>
    </ion-row>
  </ion-list>

</ion-content>
