<ion-header padding class="header">
  <div class="titolo-pagina" *ngIf="(lezione$ | async) as lezione">{{lezione.title}}</div>
</ion-header>

<ion-content>
  <ion-grid padding>
    <ion-row class="video ion-margin-bottom" *ngIf="(file$ | async) as file">
      <ion-thumbnail class="thumbnail">
        <ion-img src="https://img.youtube.com/vi/{{file.path}}/0.jpg"></ion-img>
      </ion-thumbnail>
      <ion-button class="play" (click)="openVideo(file.path)">
        <ion-icon name="play"></ion-icon>
      </ion-button>
    </ion-row>

    <p class="course-description" *ngIf="(lezione$ | async) as lezione">{{lezione.description}}</p>
  </ion-grid>
</ion-content>