
.titolo-corso{
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
}

.video{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
}

.thumbnail{
    width: 100%;
    height: 200px;
}

.play{
    position: absolute;
}

.course-title{
    font-size: 24px;
    font-weight: 300;
}

.course-description{
    font-size: 14px;
    font-weight: 300;
}