.first-row{
    margin-bottom: 32px;
}

.colonne{
    text-align: center;
}

.tempo{
    font-size: 36px;
}

.periodo{
    font-size: 12px;
    font-weight: 300;
}

.titolo-statistica{
    font-weight: 300;
    font-size: 18px;
}
