<ion-header padding class="header">
  <div class="titolo-pagina">Statistiche</div>
</ion-header>

<ion-content>

  <ion-grid padding *ngIf="(RisposteDiCorsi$ | async) as risp">
    <ion-row class="first-row">
      <ion-col class="colonne">
        <div class="tempo">
          <ion-text>
            {{risp.TotAnswer}}
          </ion-text>
        </div>
        <div class="periodo">
          <ion-text>
            Risposte totali
          </ion-text>
        </div>
      </ion-col>
      <ion-col class="colonne">
        <div class="tempo">
          <ion-text>
            {{risp.TotCorrect}}
          </ion-text>
        </div>
        <div class="periodo">
          <ion-text>
            Risposte corrette
          </ion-text>
        </div>
      </ion-col>
    </ion-row>

    <ng-container *ngFor="let item of corsi$ | async">
      <ng-container *ngIf="getRisposte(item.id) as rispObj">
        <ion-row class="ion-margin-bottom">
          <ion-text class="titolo-statistica ion-margin-bottom">{{rispObj.course.title}}</ion-text>
          <ion-progress-bar color="tertiary" value="{{rispObj.correct / rispObj.answer}}"></ion-progress-bar>
        </ion-row>
      </ng-container>
    </ng-container>



  </ion-grid>

</ion-content>