<ion-content>
  <div class="content">
    <ion-grid padding>

      <div class="center">
        <!-- Login form -->
        <form [formGroup]="loginFormModel" class="list-form">

          <ion-row class="ion-margin-bottom">
            <!-- Input with placeholder -->
            <ion-input class="label" type="email" formControlName="email" padding-start placeholder="Email"></ion-input>
            <p ion-text class="text08"
              *ngIf="loginFormModel.get('email').touched && loginFormModel.get('email').invalid">
              <ion-text color="danger">Email richiesta</ion-text>
            </p>
          </ion-row>

          <ion-row class="ion-margin-bottom">
            <ion-input class="label" type="password" formControlName="password" padding-start placeholder="Password">
            </ion-input>
            <p ion-text class="text08"
              *ngIf="loginFormModel.get('password').touched && loginFormModel.get('password').invalid">
              <ion-text color="danger">Password richiesta</ion-text>
            </p>
          </ion-row>

          <ion-row justify-content-center class="ion-margin-bottom">
            <ion-text (click)="onLogin()" color="primary">Hai dimenticato email e password?</ion-text>
          </ion-row>

          <ion-row class="ion-margin-bottom">
            <ion-button class="button" (click)="onLogin()" [disabled]="!loginFormModel.valid" color="purplegradient">Accedi
            </ion-button>
          </ion-row>

        </form>

        <ion-row justify-content-center class="ion-margin-bottom">
          <div>Oppure</div>
        </ion-row>
        <ion-row class="ion-margin-bottom">
          <ion-button class="button" type="button" (click)="registerModal()" color="buttonwhite">Registrati</ion-button>
        </ion-row>
      </div>

      <ion-row class="bottom" align-items-center justify-content-center>
        <ion-text (click)="onLogin()" color="primary">Non riesci ad accedere?</ion-text>
      </ion-row>

    </ion-grid>
  </div>
</ion-content>