<ion-header padding class="header">
    <div class="titolo-pagina">Gestione corsi</div>
  </ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid padding>
    <ion-row>
      <ion-text class="message ion-text-left">
        Ad ogni ruolo aziendale assegna i corsi da seguire.
      </ion-text>
    </ion-row>
  </ion-grid>

  <ng-container *ngFor="let ruolo of ruoli$ | async">
    <ion-item padding>
      <ion-label stacked>{{ruolo.name}}</ion-label>

      <div align-items-center justify-content-center>
        <ion-button (click)="doCheckboxCorsi(ruolo.id, ruolo.name)">Corsi</ion-button>
      </div>
    </ion-item>
  </ng-container>
</ion-content>