.ciao{
    font-size: 24px;
    font-weight: 300;
}

.nome{
    font-size: 36px;
}

.message{
    margin-top: 36px;
    font-weight: 300;
    font-size: 18px;
}

.button{
    width: 100%;
    box-shadow: 0px 4px 12px rgba(83, 92, 104, 0.2);
    border-radius: 8px;
}