<ion-header padding class="header">
  <div class="titolo-pagina">Gestione dipendenti</div>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-grid padding>
    <div padding>
    <ion-button class="button" (click)="shareWhatsApp()" color="purplegradient">Condividi codice di iscrizione
    </ion-button>
  </div>
    <ion-row>
      <ion-text class="message ion-text-left">
        Per ogni ruolo aziendale seleziona i dipendenti assegnati ad esso.
      </ion-text>
    </ion-row>
  </ion-grid>

  <ng-container *ngFor="let ruolo of ruoli$ | async">
    <ion-item padding>
      <ion-label stacked>{{ruolo.name}}</ion-label>

      <div align-items-center justify-content-center>
        <ion-button (click)="doCheckbox(ruolo.id, ruolo.name)">Dipendenti</ion-button>
      </div>
    </ion-item>
  </ng-container>
</ion-content>