<ion-header padding class="header">
  <div class="titolo-pagina">Il tuo account</div>
</ion-header>

<ion-content>
  <ion-grid padding>
    <div class="form-container">
      <ion-row class="avatar-row ion-margin-bottom" justify-content-center>
        <ion-avatar class="avatar-container" (click)="openGallery()">
          <img class="avatar" [src]="imageSrc">
        </ion-avatar>
      </ion-row>
      <form [formGroup]="accountFormModel" class="list-form">
        <ng-container *ngIf="utente.is_administrator == 0">
          <ion-row class="ion-margin-bottom">
            <ion-input class="label" type="text" (ionChange)="isenabled=true" formControlName="code" padding-start
              placeholder="La mia azienda">
            </ion-input>
          </ion-row>
        </ng-container>
        <ion-row class="ion-margin-bottom">
          <ion-input class="label" type="text" (ionChange)="isenabled=true" formControlName="name_surname" padding-start
            placeholder="Nome e Cognome"></ion-input>
        </ion-row>
        <ion-row class="ion-margin-bottom">
          <ion-input class="label" type="email" (ionChange)="isenabled=true" formControlName="email" padding-start
            placeholder="Email"></ion-input>
        </ion-row>
        <ion-row class="ion-margin-bottom">
          <ion-input class="label" type="text" (ionChange)="isenabled=true" formControlName="phone" padding-start
            placeholder="Telefono"></ion-input>
        </ion-row>

        <ng-container *ngIf="utente.is_administrator == 1">
          <ion-row class="ion-margin-bottom">
            <ion-input class="label" type="text" (ionChange)="isenabled=true" formControlName="name" padding-start
              placeholder="Nome azienda"></ion-input>
          </ion-row>
          <ion-row class="ion-margin-bottom">
            <ion-input class="label" type="text" (ionChange)="isenabled=true" formControlName="street" padding-start
              placeholder="Via"></ion-input>
          </ion-row>
          <ion-row class="ion-margin-bottom">
            <ion-input class="label" type="text" (ionChange)="isenabled=true" formControlName="city" padding-start
              placeholder="Citta">
            </ion-input>
            <ion-input class="label" type="text" (ionChange)="isenabled=true" formControlName="cap" padding-start
              placeholder="CAP">
            </ion-input>
          </ion-row>
          <ion-row class="ion-margin-bottom">
            <ion-input class="label" type="text" (ionChange)="isenabled=true" min="20" formControlName="code"
              padding-start placeholder="Frase segreta registrazione dipendenti">
            </ion-input>
          </ion-row>
        </ng-container>

        <ion-row class="ion-margin-bottom">
          <ion-button class="button buttonModifica" (click)="presentAlertPrompt()"
            color="purplegradient">Modifica
            la Password
          </ion-button>
        </ion-row>

        <ion-row class="ion-margin-bottom">
          <ion-button class="button buttonModifica" [disabled]="!isenabled" (click)="updateUser()"
            color="purplegradient">Modifica
            informazioni
          </ion-button>
        </ion-row>

        <ion-row class="ion-margin-bottom">
          <ion-button class="button buttonModifica" (click)="logout()" color="purplegradient">Logout
          </ion-button>
        </ion-row>
      </form>
    </div>
  </ion-grid>
</ion-content>