
.ciao{
    font-size: 24px;
    font-weight: 300;
}

.nome{
    font-size: 36px;
}

.label{
    border: 1px solid #95AFC0;
    border-radius: 8px;
}

.button{
    width: 100%;
    box-shadow: 0px 4px 12px rgba(83, 92, 104, 0.2);
    border-radius: 8px;
}

.form-container{
    margin-top: 32px;
}

.avatar-row{
    //background-color: red;
    width: 100%;
}

.avatar-container{
    border: 5px solid #fafafa;
    width: 100px;
    height: 100px;
    box-shadow: 0px 4px 16px rgba(33, 33, 33, 0.2);
}
