<ion-content>
    <div class="content">
  <ion-grid padding>

    <div class="center">
      <!-- Login form -->
      <form [formGroup]="registerFormModel" class="list-form">

        <ion-input padding-start class="label ion-margin-bottom" type="text" formControlName="name_surname">
        </ion-input>

        <p ion-text class="text08"
          *ngIf="registerFormModel.get('name_surname').touched && registerFormModel.get('name_surname').hasError('required')">
          <ion-text color="warning">
            This field is required
          </ion-text>
        </p>

        <ion-input padding-start class="label ion-margin-bottom" type="email" formControlName="email"></ion-input>

        <p ion-text class="text08"
          *ngIf="registerFormModel.get('email').touched && registerFormModel.get('email').hasError('required')">
          <ion-text color="warning">
            This field is required
          </ion-text>
        </p>

        <ion-input padding-start class="label ion-margin-bottom" type="text" formControlName="phone"></ion-input>

        <p ion-text class="text08"
          *ngIf="registerFormModel.get('phone').touched && registerFormModel.get('phone').hasError('required')">
          <ion-text color="warning">
            This field is required
          </ion-text>
        </p>

        <ion-input padding-start class="label ion-margin-bottom" type="text" formControlName="code"></ion-input>

        <p ion-text class="text08"
          *ngIf="registerFormModel.get('code').touched && registerFormModel.get('code').hasError('required')">
          <ion-text color="warning">
            This field is required
          </ion-text>
        </p>

        <ion-input padding-start class="label ion-margin-bottom" type="password" formControlName="password">
        </ion-input>

        <p ion-text color="warning" class="text08"
          *ngIf="registerFormModel.get('password').touched && registerFormModel.get('password').hasError('required')">
          <ion-text color="warning">
            This field is required
          </ion-text>
        </p>

        <ion-input padding-start class="label ion-margin-bottom" type="password" formControlName="password_confirm">
        </ion-input>

        <p ion-text color="warning" class="text08"
          *ngIf="registerFormModel.get('password_confirm').touched && registerFormModel.get('password_confirm').hasError('required')">
          <ion-text color="warning">
            This field is required
          </ion-text>
        </p>

        <ion-button color="purplegradient" class="button" type="button" (click)="onRegister()"
          [disabled]="!registerFormModel.valid">
          Registrati
        </ion-button>

      </form>

      <ion-row class="bottom" align-items-center justify-content-center>
          <ion-text (click)="loginModal()" color="primary">Hai già un'account? Accedi</ion-text>
      </ion-row>

    </div>
  </ion-grid>
  </div>
</ion-content>