.content{
    height: 100%;
    display: flex;
    align-items: center;
}

.label{
    border: 1px solid #95AFC0;
    border-radius: 8px;
}

.button{
    width: 100%;
    box-shadow: 0px 4px 12px rgba(83, 92, 104, 0.2);
    border-radius: 8px;
}

.bottom{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 32px;
    //background-color: rebeccapurple;
}